@tailwind base;
@tailwind components;
@tailwind utilities;

::root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ccc;
}
